<html>
<head>
	<title>404 Not Found</title>
	<link rel="stylesheet" type="text/css" href="/s/b/css/bootstrap.css">
	<script src="/s/jquery-git1.js"></script>
	<script src="/s/b/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/s/parsley.css">
	<script src="/s/parsley.js"></script>
	<style type="text/css">
		h1 { font-size: -webkit-xxx-large; font-weight: bold; }
		strong { font-size: -webkit-xxx-large; }
		body
		{
			display: table;
			width: 100%;
			height: 100%;
			min-height: 100%;
		}
		#text
		{
			color: red;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}
	</style>
</head>
<body>
	<div id="text">
		<h1>404 Not Found</h1>
		This resource could not be found.
		<br />
		<strong>Sorry! :(</strong>
	</div>	
</body>
</html>