<html>
<head>
	<title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-git1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<style type="text/css">
		h1 { font-size: -webkit-xxx-large; font-weight: bold; }
		strong { font-size: -webkit-xxx-large; }
		body
		{
			display: table;
			width: 100%;
			height: 100%;
			min-height: 100%;
		}
		#text
		{
			color: red;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}
	</style>
</head>
<body>
	<div id="text">
		<h1>404 Not Found</h1>
		This resource could not be found.
		<br />
		<strong>Sorry! :(</strong>
	</div>	
</body>
</html>