<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Co-Labs</title>
    <link href="s/b/css/bootstrap.css" rel="stylesheet">
    <script src="/s/b/js/jquery-1.11.0.js"></script>
    <script src="s/b/js/jquery.easing.min.js"></script>
    <script src="/s/b/js/bootstrap.min.js"></script>
    <script src="s/b/js/scrolling-nav.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="s/b/css/colabs.css" rel="stylesheet">
    <style type="text/css">
        #intro, #learn, #join
        {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">Co-Labs</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#learn">Learn</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#join">Join</a>
                    </li>
                </ul>
        		<div class="navbar-form navbar-right">
        			<a class="btn btn-primary" href="/login">Login</a>
        		</div>
            </div>
        </div>
    </nav>

    <div id="intro" class="container intro-section">
        <h1 id="greeting">Coding. Searching. Collaborating. All in one tab.</h1>
        <br>
        <a class="btn-circle fa fa-angle-double-down fa-4x" href="#learn"></a>
    </div>

    <div id="learn" class="container learn-section">
        <h1>Learn</h1>
        <p>In an impersonal world populated by tab-ridden browsers, Co-Labs provides
        a sleek interface </p><p>that allows developers to research and code together, all in one tab.</p>
        <img src="s/images/screenshot.png" width="500"/>
        <br><br>
        <a class="btn-circle fa fa-angle-double-down fa-5x" href="#join"></a>
    </div>
    <div id="join" class="go-section">
        {% block maincontent %}{% endblock %}
    </div>
</body>
</html>