<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoLabs</title>
    <link href="s/colabs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-git1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="s/scrolling-nav.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/s/parsley.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.2/parsley.js"></script>    
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">CoLabs</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#learn">Learn</a></li>
                    <li><a class="page-scroll" href="#join">Join</a></li>
                    <li><a class="page-scroll" href="#aboutus">About Us</a></li>
                </ul>
                <div class="navbar-form navbar-right">
                    <a class="btn btn-primary" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="intro" class="container">
        <h1 id="greeting">Coding. Searching. Collaborating. All in one tab.</h1>
        <br>
        <a class="btn-circle page-scroll fa fa-angle-double-down animated" href="#learn"></a>
    </div>
    <div id="codingXp" class="container"></div>
    <div id="learn" class="container">
        <h1>Learn</h1>
        <p>In an impersonal world populated by tab-ridden browsers, CoLabs provides
        a sleek interface </p><p>that allows developers to research and code together, all in one tab.</p>
        <img id="learnPic" src="s/images/screenshot.png" width="500"/>
        <br><br>
        <a class="btn-circle page-scroll fa fa-angle-double-down animated" href="#join"></a>
    </div>

    <div id="join">
        {% block maincontent %}{% endblock %}
    </div>

    <div id="aboutus" class="container">
        <h1>About Us</h1>
        <br />
        <div class="center">
            <div class="text-center col-sm-4">
                <img class="circle" src="s/images/marcial.PNG" />
                <h2 class="marginless">Marcial</h2>
                <div>Designer</div>
            </div>
            <div class="text-center col-sm-4">
                <img class="circle" src="s/images/calla.jpg" />
                <h2 class="marginless">Calla</h2>
                <div>Frontend Engineer</div>
            </div>
            <div class="text-center col-sm-4">
                <img class="circle" src="s/images/wilfred.png" />
                <h2 class="marginless">Wilfried</h2>
                <div>Backend Engineer</div>
            </div>
        </div>
        <img id="cssiLogo" src="s/images/cssilogo.png" />
        <div class="text-center">
            <h4><p>This webapp was created at <a  href="http://www.google.com/edu/programs/computer-science-summer-institute-cssi/"> Google CSSI</a> in Summer 2014.</p></h4>
            <h3 class="marginless"><b>Note:</b> This demo is no longer maintained.</h3>
            <h3 class="marginless">For the open source project folowing up to this go to: <a  href="https://github.com/memsy">Memsy</a></h3>
        </div>
    </div>
</body>
</html>