<html>
  <head>
	<title>{% block title %}Lab{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-git1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.2/parsley.min.js"></script>
	<script src="http://danml.com/js/download.js"></script>
	<script type="text/javascript">
		// TogetherJS configuration
		TogetherJSConfig_siteName = "CoLabs"
		TogetherJSConfig_toolName = "{{ lab.name }}"
		TogetherJSConfig_cloneClicks = ".together_click"
		TogetherJSConfig_findRoom = "{{lab.key.id()}}"
		TogetherJSConfig_autoStart = true
		TogetherJSConfig_suppressJoinConfirmation = true
		TogetherJSConfig_suppressInvite = true
		TogetherJSConfig_includeHashInUrl = true
		TogetherJSConfig_youtube = true
		TogetherJSConfig_ignoreMessages = true
		TogetherJSConfig_ignoreForms = [":password"]
		TogetherJSConfig_getUserName = function () { return '{{user.name}}'; } ;
		TogetherJSConfig_getUserAvatar = function () { return '{{user.gravatarize()}}'; } ;
		var spotifyUri = ''
		function build_spotify_embed(uri) {
			return '<iframe src="https://embed.spotify.com/?uri=' + uri +'" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>'
		}
		$(document).ready(function () {

			// Only show the browser option initially: Consider google search
			$("#youtubeContainer").hide();
			$("#spotifyContainer").hide();
			$("#previewContainer").hide();

			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/monokai");
			editor.getSession().setMode("ace/mode/html");

			// Dropdown language sintax highlighter
			$("#theme").click(function () {
				editor.setTheme("ace/theme/" + $("#theme option:selected").val());
			});

			$("#language").click(function () {
				editor.getSession().setMode("ace/mode/" + $("#language option:selected").val());
			});
				
			$("#download").click(function () {
				// Make either a dropdown, some pupup, or use the build it dict
				download(editor.getValue(), "hello.txt"/* ext */, "text/plain");
			});
			$("#browseBtn").click(function () {
				$("#browse").show();
				$("#previewContainer").hide();
			});
			$("#previewBtn").click(function () {
				$("#browse").hide();
				$("#previewContainer").empty();
				$("#previewContainer").append(editor.getValue());
				$("#previewContainer").show();
			});
		});
	</script>
	<script src="https://togetherjs.com/togetherjs-min.js"></script>
	<script src="/s/src-noconflict/ace.js" type="text/javascript"></script>
	<style type="text/css" media="screen">
		.level 
		{
		    width: 100%;
		    min-height: 50%;
		    overflow-y: scroll;
			position: relative;
		}
		body { margin-top: 25px; }
		#browse { height: 60%; margin-top: -56px; }
		.is_nebular{ margin-top: 56px;}
		#editor { height: 100%; }
		.pull-center { float: none; }
		.ace_search_field { color: black; }
		.padded { padding: 20px 90px 10px 80px; }
		.gsc-search-button { visibility: hidden; }
		.borderless { border: 1px solid transparent; }
		.blank { color: transparent; min-width: 104px; }
	</style>
<body>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top borderless" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/">CoLabs</a>
			<div class="navbar-form navbar-right">
				<select id="theme" class="btn btn-default together_click">
					<option selected="true" value="monokai" style="display:none;">Theme</option>
					<option value="ambiance">Ambiance</option>
					<option value="chaos">Chaos</option>
					<option value="chrome">Chrome</option>
					<option value="clouds">Clouds</option>
					<option value="clouds_midnight">Clouds Midnight</option>
					<option value="cobalt">Cobalt</option>
					<option value="crimson_editor">Crimson Editor</option>
					<option value="dawn">Dawn</option>
					<option value="dreamweaver">Dreamweaver</option>
					<option value="eclipse">Eclipse</option>
					<option value="github">Github</option>
					<option value="idle_fingers">Idle Fingers</option>
					<option value="katzenmilch">Katzenmilch</option>
					<option value="kr">Kr</option>
					<option value="kuroir">Kuroir</option>
					<option value="merbivore">Merbivore</option>
					<option value="merbivore_soft">Merbivore Soft</option>
					<option value="mono_industrial">Mono Industrial</option>
					<option value="monokai">Monokai</option>
					<option value="pastel_on_dark">Pastel on Dark</option>
					<option value="solarized_dark">Solarized Dark</option>
					<option value="solarized_light">Solarized Light</option>
					<option value="terminal">Terminal</option>
					<option value="textmate">Textmate</option>
					<option value="tomorrow">Tomorrow</option>
					<option value="tomorrow_night">Tomorrow Night</option>
					<option value="tomorrow_night_blue">Tomorrow Night Blue</option>
					<option value="tomorrow_night_bright">Tomorrow Night Bright</option>
					<option value="tomorrow_night_eighties">Tomorrow Night Eighties</option>
					<option value="twilight">Twilight</option>
					<option value="vibrant_ink">Vibrant Ink</option>
					<option value="xcode">Xcode</option>
				</select>
				<select id="language" class="btn btn-default together_click">
					<option value="javascript" selected="true" style="display:none;">Language</option>
					<option value="abap">Abap</option>
					<option value="actionscript">Actionscript</option>
					<option value="ada">Ada</option>
					<option value="apache_conf">Apache</option>
					<option value="applescript">Applescript</option>
					<option value="asciidoc">Asciidoc</option>
					<option value="assembly_x86">Assembly x86</option>
					<option value="autohotkey">Autohotkey</option>
					<option value="batchfile">Batchfile</option>
					<option value="c9search">C9search</option>
					<option value="c_cpp">C++</option>
					<option value="cirru">Cirru</option>
					<option value="clojure">Clojure</option>
					<option value="cobol">Cobol</option>
					<option value="coffee">CoffeeScript</option>
					<option value="coldfusion">Coldfusion</option>
					<option value="csharp">C#</option>
					<option value="css">CSS</option>
					<option value="curly">Curly</option>
					<option value="d">D</option>
					<option value="dart">Dart</option>
					<option value="diff">Diff</option>
					<option value="django">Django</option>
					<option value="dockerfile">Dockerfile</option>
					<option value="dot">Dot</option>
					<option value="ejs">Ejs</option>
					<option value="erlang">Erlang</option>
					<option value="forth">Forth</option>
					<option value="ftl">FreeMarker</option>
					<option value="gherkin">Gherkin</option>
					<option value="gitignore">Gitignore</option>
					<option value="glsl">Glsl</option>
					<option value="golang">Go</option>
					<option value="groovy">Groovy</option>
					<option value="haml">Haml</option>
					<option value="handlebars">Handlebars</option>
					<option value="haskell">Haskell</option>
					<option value="haxe">Haxe</option>
					<option value="html">HTML</option>
					<option value="html_ruby">HTML (Ruby)</option>
					<option value="ini">Ini</option>
					<option value="jack">Jack</option>
					<option value="jade">Jade</option>
					<option value="java">Java</option>
					<option value="javascript">JavaScript</option>
					<option value="json">JSON</option>
					<option value="jsoniq">Jsoniq</option>
					<option value="jsp">Jsp</option>
					<option value="jsx">Jsx</option>
					<option value="julia">Julia</option>
					<option value="latex">LaTeX</option>
					<option value="less">Less</option>
					<option value="liquid">Liquid</option>
					<option value="lisp">Lisp</option>
					<option value="livescript">Livescript</option>
					<option value="logiql">Logiql</option>
					<option value="lsl">Lsl</option>
					<option value="lua">Lua</option>
					<option value="luapage">Luapage</option>
					<option value="lucene">Lucene</option>
					<option value="makefile">Makefile</option>
					<option value="markdown">Markdown</option>
					<option value="matlab">MATLAB</option>
					<option value="mel">Mel</option>
					<option value="mushcode">Mushcode</option>
					<option value="mysql">MySQL</option>
					<option value="nix">Nix</option>
					<option value="objectivec">Objective-C</option>
					<option value="ocaml">Ocaml</option>
					<option value="pascal">Pascal</option>
					<option value="perl">Perl</option>
					<option value="pgsql">PgSQL</option>
					<option value="php">PHP</option>
					<option value="plain_text">Plain_text</option>
					<option value="powershell">Powershell</option>
					<option value="prolog">Prolog</option>
					<option value="properties">Properties</option>
					<option value="protobuf">Protobuf</option>
					<option value="python">Python</option>
					<option value="r">R</option>
					<option value="rdoc">Rdoc</option>
					<option value="rhtml">Rhtml</option>
					<option value="ruby">Ruby</option>
					<option value="rust">Rust</option>
					<option value="sass">Sass</option>
					<option value="scad">Scad</option>
					<option value="scala">Scala</option>
					<option value="scheme">Scheme</option>
					<option value="scss">Scss</option>
					<option value="sh">Sh</option>
					<option value="sjs">Sjs</option>
					<option value="smarty">Smarty</option>
					<option value="snippets">Snippets</option>
					<option value="soy_template">Soy_template</option>
					<option value="space">Space</option>
					<option value="sql">SQL</option>
					<option value="stylus">Stylus</option>
					<option value="svg">Svg</option>
					<option value="tcl">Tcl</option>
					<option value="tex">Tex</option>
					<option value="text">Text</option>
					<option value="textile">Textile</option>
					<option value="toml">Toml</option>
					<option value="twig">Twig</option>
					<option value="typescript">Typescript</option>
					<option value="vala">Vala</option>
					<option value="vbscript">Vbscript</option>
					<option value="velocity">Velocity</option>
					<option value="verilog">Verilog</option>
					<option value="vhdl">Vhdl</option>
					<option value="xml">Xml</option>
					<option value="xquery">Xquery</option>
					<option value="yaml">Yaml</option>
				</select>
				<button id="download" class="btn btn-info btn-sm"><i class="fa fa-download"></i> Code</button>
				<span class="dropdown">
					<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
					<button class="btn btn-default">Tools <i class="fa fa-gear"></i></button></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li role="presentation" id="browseBtn"><a role="menuitem" tabindex="-1" ><i class="fa fa-globe"></i> Browse</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" id="previewBtn"><a role="menuitem" tabindex="-1" ><i class="fa fa-eye"></i> Peview</a></li>
					</ul>
				</span>
				<a href="/profile"><button class="btn btn-default"><i class="fa fa-home"></i> Profile</button></a>
			</div>
		</div>
	</nav>
	<div id="nebula">
		<object class="level" id="browse" type="text/html" data="http://www.coolbits.org/browse.php?u=https%3A%2F%2Fwww.google.com.au%2F%3Fgws_rd%3Dssl&amp;amp;b=4"></object>

		<div class="level is_nebular" id="previewContainer" ></div>
	</div>

	{# User's Code will go here #}
	<div class='level' id="editor">
&#x3C;!DOCTYPE html&#x3E;
&#x3C;html&#x3E;
&#x3C;head&#x3E;
	&#x3C;title&#x3E;Demo&#x3C;/title&#x3E;
	&#x3C;script&#x3E;
		function foo(e) {
			console.log(&#x22;Hello world from 4NRs! &#x22;);
		}
	&#x3C;/script&#x3E;
&#x3C;/head&#x3E;
&#x3C;body&#x3E;
	The content of the document......
	&#x3C;script&#x3E;
		foo();
	&#x3C;/script&#x3E;
&#x3C;/body&#x3E;
&#x3C;/html&#x3E;
	</div>
	
</body>
</html>