{% extends "layouts/main.html" %}

{% block title %}Create an Account{% endblock %}

{% block maincontent %}
		<style type="text/css">
			.rigid { width: 350px; }
			.dotted { border: 2px dashed darkgrey; }
			#text { vertical-align: top; }
		</style>

		<table id="table">
			<tr id="text">
			<td>
				<div class="container rigid">
					<h1 class="text-center">Sign up:</h1>
					<br>
					<form action="/signup" method="post" class="form-horizontal" role="form" data-parsley-validate>
						<div class="form-group">
							<div class="col-md-6">
								<input name="name" placeholder="First Name" required class="form-control" role="form" type="text">								
							</div>
							<div class="col-md-6">
								<input name="lastname" placeholder="Last Name" required class="form-control" type="text">
							</div>
						</div>
						<input name="email" placeholder="Email" required class="form-control" type="email">
						<br />
						<input name="password" placeholder="Password" required class="form-control" type="password">
						<br />
						<!-- <div class="text-center text-muted">all fields are required</div> -->
						<!-- <br /> -->
						<div class="text-center">
							<button class="btn btn-success" type="submit">Sign up <i class="fa fa-lock"></i></button>

						</div>
						<input type="hidden" name="new" value="true">
					</form>
				</div>
			</td>
			<td class="dotted"></td>
			<td>
				<div class="container rigid">
					<h1 class="text-center">Login:</h1>
					{% if failed %}
					<strong>Login failed!</strong> Check your credentials and try again.
					{% endif %}
					<br>
					<!-- Convert into Horizontal? -->
					<form action= "/login" method="post" data-parsley-validate>

						<input name="email" placeholder="Email" value="{{email}}" required class="form-control" type="email">
						<br />
						<input  name="password" placeholder="Password" required class="form-control" type="password">
						<br />
						<!-- <div class="text-center text-muted">all fields are required</div> -->
						<!-- <br /> -->
						<div class="text-center">
							<button class="btn btn-success" type="submit">Login <i class="fa fa-lock"></i></button>
							<a href="/forgot">Forgot password</a>
						</div>
					</form>
				</div>
			</td>
			</tr>
		</table>

		<script type="text/javascript">
			$(document).ready(function () {
				var halfHeight = (($(window).height() / 2) - ($("#table").height()/ 2))
				var halfWidth = (($(window).width() / 2) - ($("#table").width()/ 2))

				var style = document.createElement("style");
				style.type = "text/css";
				style.innerHTML = ".centered { margin-left: " + halfWidth + "px; margin-top: " + halfHeight + "px }";
				document.getElementsByTagName("head")[0].appendChild(style);

				document.getElementById("table").className = "centered";
			})
		</script>
{% endblock %}