{% extends "layouts/lab.html" %}

{% block maincontent %}
	<nav class="navbar navbar-default navbar-fixed-top borderless" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="#" >Co-Labs</a>
			<div class="col-md-5" id="browseinput">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default active">
						<input type="radio" name="options" id="browser"checked><i class="fa fa-globe"></i> Browse
					</label>
					<label class="btn">
						<script src="https://apis.google.com/js/platform.js"></script>
					<input type="radio" name="options" id="hangout"><div id="placeholder-div2"></div>
						<g:hangout render="createhangout"
								invites="[{% for collaborator in lab.collaborators %}
								{ id : '{{collaborator}}', invite_type : 'EMAIL' }
								{% if not loop.last%},{% endif %}
							{% endfor %}]">
						</g:hangout>
					</label>
				</div>
			</div>
			<div class="navbar-form navbar-right">
				<a href="{{user.profile_link()}}">{{user.email_address}} <i class="fa fa-home"></i></a>
			</div>
		</div>
	</nav>
	<div class='level' id='coolspace'>
		
	</div>
	{# User's Code will go here #}
	<div class='level' id="editor">
		// Insert your code here!
		function foo(items) {
			var i;
			for (i = 0; i &lt; items.length; i++) {
				alert("4NRs rocks! " + items[i]);
			}
		}
	</div>
	
	<script type="text/javascript">
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/javascript");
		$( document ).ready(function() {
			$('#coolspace').append(browser);
		});
	</script>
{% endblock %}