{% extends "layouts/lab.html" %}

{% block title %}Workspace{% endblock %}

{% block maincontent %}
<body>
	<div>
		<object class="level" id="browse" type="text/html" data='http://www.coolbits.org/browse.php?u=
		{% if query %}
			{# do something #}
		{% else %}
		https%3A%2F%2Fwww.google.co.uk%2F%3Fgws_rd%3Dssl
		{% endif %}
		&amp;amp;b=4' style="width:100%; height:50%"></object>
	</div>
	<div class='level' id="editor">// Insert code here
		function foo(items) {
			var i;
			for (i = 0; i &lt; items.length; i++) {
				alert("4NRs rocks! " + items[i]);
			}
		}
	</div>
{% endblock %}