{% extends "layouts/lab.html" %}

{% block maincontent %}
	<nav class="navbar navbar-default navbar-fixed-top borderless" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="#">Co-Labs</a>
			<div class="col-md-4" id="browseinput">
			<gcse:searchbox></gcse:searchbox>
			<!--<input type="text" class="form-control" name="searchbar" placeholder="Search or URL">-->
			</div>
			<div class="navbar-form navbar-right">
				<a href="{{ user.profile_link() }}"><button class="btn btn-default"><i class="fa fa-home"></i> Profile</button></a>
				<a href="/logout"><button class="btn btn-danger">Logout</button></a> 
			</div>
		</div>
	</nav>	
	<div id="searches">
		<gcse:searchresults></gcse:searchresults>
	</div>
	
	{# User's Code will go here #}
	<div class='level' id="editor">// Insert your code here!</div>

	<script type="text/javascript">
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/javascript");

		(function() {
			var cx = '014233615630466551313:f2mq3bxfnbi';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
	</script>	
{% endblock %}