<html>
	<head>
		<title>{% block title %}CoLabs{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/s/b/css/bootstrap.css"> 
		<script src="/s/jquery-git1.js"></script>
		<script src="/s/b/js/bootstrap.js"></script>	
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/s/parsley.css">
		<script src="/s/parsley.js"></script>
		<style type="text/css">
			body { margin-top: 52px; }
			.circle 
			{ 
				border-radius: 200px 200px 200px 200px;
				-moz-border-radius: 200px 200px 200px 200px;
				-webkit-border-radius: 200px 200px 200px 200px;
			}
			.gravatar { width: 50px; height: 50px; }
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top borderless" role="navigation">
			<div class="container">
				<!-- Hmmm .... no more profile? or yes? -->
				<a class="navbar-brand" href="/">CoLabs</a>
				<div class="navbar-form navbar-right">
					{% if not user %}
						<a href="/login"><button class="btn btn-primary">Login</button></a>
					{% else %}
						<a href="{{ user.profile_link() }}"><button class="btn btn-default"><i class="fa fa-home"></i> Profile</button></a>
						<a href="/logout"><button class="btn btn-danger">Logout</button></a> 
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="content">
			{% block maincontent %}{% endblock %}
		</div>
	</body>
</html>
